.personal-details{
    text-align: left;
}

.personal-details-container div{
    margin-top: 20px;
    text-align: left;
}

.wtsp-same-as{
    display: flex;
    gap: 10px;
}

.personal-details-receit{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 767px){
    .wtsp-same-as{
        display: flex;
        gap: 10px;
        font-size: 15px;
    }
}
