/* ======================================= CSS of Header Component================================ */

.header {
    width: 100%;
}

.header-first {
    height: 44px;
    display: flex;
    justify-content: space-between;
    background-color: #EAE0D5;
}

.header-first span {
    margin-left: .5rem;
}

.header-first img {
    height: 1rem;
}


.header-first-item-1 {
    align-self: center;
    margin-left: 135px;
}

.header-first-item-2 {
    align-self: center;
    margin-right: 145px;
}

.header-second {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding-left: 9.5vw;
    padding-right: 9.7vw;
    width: 100%;
}

.header-second-item-1 img {
    height: 3rem;
}

.header-second-item-5 {
    width: 120px;
    display: flex;
    justify-content: space-around;
}

.header-second-item-5 img {
    height: 21.5px;
}


.search-bar {
    width: 600px;
    height: 50px;
    border-radius: 3px;
    padding: 5px;
}

.search-bar img {
    height: 19px;
    width: 19px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.hamburger {
    display: none;
}

.header-third {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 45px;
    align-items: center;
    padding-left: 19vw;
    padding-right: 19vw;
}

@media (max-width: 840px) {

    /* for smart phones */
    .hamburger {
        display: block;
    }

    .hamburger img {
        height: 18px;
    }

    .sm-hide {
        display: none;
    }

    .header-first {
        font-size: 10px;
    }

    .header-first-item-1 {
        margin-left: 2px;
    }

    .header-second-item-1 img {
        margin-left: 106px;
    }

    .header-first-item-2 {
        margin-right: 10px;
    }

    .header-second-item-5 img {
        height: 21.5px;
        margin-left: 85px;
    }

    .header-second {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header-second-item-4 {
        order: 3;
        flex: 1 0 100%;
    }

    .search-bar {
        width: 100%;
        height: 37px;
    }

    .search-bar img {
        top: 1px;
    }

    .header-third {
        display: none;
    }

    .header-second-item-1 img {
        height: 2rem;
    }
}

@media screen and (min-width: 840px) and (max-width: 1235px) {

    /* for tablets */
    .header-third {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .header-first-item-1 {
        align-self: center;
        margin-left: 65px;
    }

    .header-first-item-2 {
        align-self: center;
        margin-right: 75px;
    }

    .search-bar {
        width: 300px;
        height: 40px;

    }

    .header-second-item-1 img {
        height: 2.5rem;
    }
}


/* =================================== CSS of Footer Component =============================================== */

.footer {
    height: 440px;
    background-color: #22333B;
    color: #EAE0D5;
}

.footer-content {
    width: 460px;
    height: 134px;
    color: #EAE0D5;
    text-align: start;
    position: relative;
    top: 86px;
    left: 151px;
}

.footer-content img {
    width: 280px;
    height: 35px;
}

.social-handles {
    display: flex;
    justify-content: space-around;
    padding-right: 55%;
}

.social-handles img {
    height: 29px;
    width: 29px;
}

.copywright {
    position: relative;
    top: 260px;
    font-size: 14px;
}

@media (max-width: 768px) {

    .footer-content img {
        width: 302px;
        height: 38px;
    }

    .footer-content {
        width: 302px;
        height: 134px;
        color: #EAE0D5;
        text-align: start;
        position: relative;
        top: 65px;
        left: 20px;
        font-size: 14px;
    }

    .social-handles img {
        height: 24px;
        width: 24px;

    }


    .copywright {
        position: relative;
        top: 240px;
        left: 0px;
        font-size: 12px;
        padding: 5px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* for tablets */
    .copywright {
        left: 80px;
        font-size: 10px;
        width: fit-content;
    }

    .footer-content {
        width: 302px;
        height: 134px;
        color: #EAE0D5;
        text-align: start;
        position: relative;
        top: 65px;
        left: 80px;
        font-size: 14px;
    }
}

/* ==================================== Hero Banner ================================================= */

.hero-banner {
    height: 581px;
}

.hero-banner-1 {
    width: 740px;
    height: 503px;
    border-radius: 8px;
    margin-left: 57px;
}

.hero-banner-2 {
    width: 468px;
    height: 240px;
    border-radius: 8px;
}

.hero-banner-3 {
    width: 468px;
    height: 240px;
    border-radius: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-banner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
    .hero-banner-1 {
        width: 446px;
        height: 356px;
        border-radius: 8px;
        margin-left: 0;
    }
    .hero-banner-2 {
        width: 310px;
        height: 165px;
        border-radius: 8px;
    }
    
    .hero-banner-3 {
        width: 310px;
        height: 165px;
        border-radius: 8px;
    }
}
@media (max-width: 768px) {
    .hero-banner-4{
        width: 377px;
        height: 258px;
        border-radius: 4.2px;
    }
    .hero-banner-5{
        width: 377px;
        height: 150px;
        border-radius: 4.2px;
    }
}

/* ===================================Designed for you=============================================== */

.designed-for-you {
    padding: 20px;
    background-color: #FBF9F7;
    height: 530px;
}

h2 {
    margin: 50px;
    font-family: 'PT Serif', serif;
    color: #22333B;
    font-weight: bold;
}

.designed-for-you-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    top: 40px;
}

.designed-for-you-container div {
    width: 238px;
}

.card-image {
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 22px;
    font-weight: 500;
}

.card-discription {
    font-size: 13px;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    h2 {
        margin: 40px;
    }

    .designed-for-you-container {
        align-content: space-evenly;
        top: 30px;
        flex-basis: auto;
        row-gap: 40px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-discription {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .designed-for-you {
        padding: 20px;
        background-color: #FBF9F7;
        height: 732px;
    }

    .designed-for-you h2 {
        margin: 25px;
        font-size: 24px;
    }

    .designed-for-you-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;
        position: relative;
        top: 40px;
        row-gap: 40px;
    }

    .designed-for-you-container div {
        width: 150px;
    }

    .card-image,
    .card-image img {
        height: 40px;
        width: 40px;
        margin-bottom: 10px;
    }

    .card-title {
        font-size: 13px;
        font-weight: 500;
    }

    .card-discription {
        font-size: 10px;
        text-align: center;
    }
}

/* ========================================== WhatsApp================================================ */

.frikly-whatsapp {
    display: flex;
    height: 530px;
    padding-top: 82px;
}

.whatsapp-screen {
    width: 30%;
}

.whatsapp-screen img {
    position: relative;
    left: 58px;
}

.whatsapp-text {
    width: 60%;
    text-align: left;
    padding: 40px;
}

.whatsapp-heading {
    color: #22333B;
    font-size: 30px;
    font-weight: 600;
    font-family: 'PT serif';
}

.whatsapp-para {
    font-weight: 300;
    font-size: 24px;
    color: #5E503F;
    line-height: 150%;
}

.whatsapp-text-highlight {
    font-weight: bold;
}

.share-now {
    border: none;
    background: url('../../assets/icons/share-now.webp') no-repeat;
    width: 14.5rem;
    height: 3.5rem;
}

@media (max-width: 768px) {
    .frikly-whatsapp {
        display: block;
        height: 732px;
    }

    .whatsapp-screen {
        width: 100%;
        /* text-align: center; */
        /* display: flex;
        justify-content: center; */
    }

    .whatsapp-screen img {
        height: 240px;
        width: 174px;
        position: static;
        left: 0;
    }

    .whatsapp-text {
        width: 100%;
        text-align: center;
        padding: 10px;
        height: 406px;
        padding-top: 70px;
    }

    .whatsapp-heading {
        color: #22333B;
        font-size: 18px;
        font-weight: 600;
        font-family: 'PT serif';
    }

    .whatsapp-para {
        font-weight: 300;
        font-size: 18px;
        color: #5E503F;
        line-height: 150%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .frikly-whatsapp {
        display: flex;
        height: 435px;
        padding-top: 82px;
    }

    .whatsapp-screen {
        width: 35%;
    }

    .whatsapp-screen img {
        height: 350px;
        width: 230px;
        position: relative;
        left: 45px;
    }

    .whatsapp-text {
        width: 65%;
        text-align: left;
        padding-left: 50px;
        padding-top: 30px;
    }

    .whatsapp-heading {
        color: #22333B;
        font-size: 24px;
        font-weight: 600;
        font-family: 'PT serif';
    }

    .whatsapp-para {
        font-weight: 300;
        font-size: 18px;
        color: #5E503F;
        line-height: 150%;
    }

    .whatsapp-text-highlight {
        font-weight: bold;
    }

    .share-now {
        border: none;
        background: url('../../assets/icons/share-now.webp') no-repeat;
        width: 14.5rem;
        height: 3.5rem;
    }
}

/* ==================================== Reasons To Buy From Us ======================================= */

.reasons-to-buy {
    height: 550px;
    background-color: white;
}

.reasons-to-buy h2 {
    font-family: 'PT serif';
    margin: 100px;
}

.reasons-to-buy-container {
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
}

.reasons-to-buy-item {
    width: 183px;
}

.reasons-to-buy-image {
    background-color: #EAE0D5;
    height: 183px;
    width: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.reasons-to-buy-item p {
    font-size: 21px;
    font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .reasons-to-buy-container {
        display: flex;
        justify-content: space-around;
        padding-left: 70px;
        padding-right: 70px;
    }

    .reasons-to-buy-item {
        width: 150px;
    }

    .reasons-to-buy-image {
        background-color: #EAE0D5;
        height: 135px;
        width: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .reasons-to-buy-item p {
        font-size: 16px;
        font-weight: 500;
    }
}

@media (max-width: 768px) {
    .reasons-to-buy {
        height: 550px;
        background-color: white;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .reasons-to-buy h2 {
        font-family: 'PT serif';
        margin: 100px;
        display: none;
    }

    .reasons-to-buy-container {
        display: flex;
        justify-content: space-evenly;
        padding-left: 0px;
        padding-right: 0px;
        height: 100%;
        flex-wrap: wrap;
        gap: 22px;
    }

    .reasons-to-buy-item {
        width: 150px;
    }

    .reasons-to-buy-image {
        background-color: #EAE0D5;
        height: 124px;
        width: 145px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .reasons-to-buy-image img {
        height: 55px;
        width: 60px;
    }

    .reasons-to-buy-item p {
        font-size: 18px;
        font-weight: 500;
    }
}

/* ==================================== On The Way ================================================= */

.on-the-way {
    background-color: #FBF9F7;
    height: 543px;
    display: flex;
    padding-top: 100px;
}

.on-the-way-banner {
    width: 30%;
    text-align: left;
    position: relative;
    top: 80px;
    left: 145px;
    color: #5E503F;
}

.on-the-way-items {
    width: 60%;
}

.on-the-way-items-row-1 {
    display: flex;
    justify-content: space-between;
}

.on-the-way-items-row-2 {
    display: flex;
    justify-content: space-between;
}

.on-the-way-card {
    height: 190px;
    width: 190px;
}

.on-the-way-card img {
    height: 80px;
    margin-bottom: 20px;
}

.on-the-way-card p {
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .on-the-way {
        background-color: #FBF9F7;
        height: 843px;
        display: block;
        padding-top: 60px;

    }

    .on-the-way-banner {
        width: 100%;
        text-align: center;
        position: static;

        color: #5E503F;
    }

    .on-the-way-items {
        display: block;
        height: 85%;
        width: 100%;
        padding-top: 30px;
    }

    .on-the-way-items-row-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 50%;
        width: 100%;
    }

    .on-the-way-items-row-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1px;
        height: 50%;
        width: 100%;
    }

    .on-the-way-card {
        height: 130px;
        width: 165px;
    }

    .on-the-way-card img {
        height: 55px;
        margin-bottom: 20px;
    }

    .on-the-way-card p {
        font-size: 14px;
        font-weight: 500;
    }
}

@media screen and (min-width: 768px) and (max-width: 1250px) {

    .on-the-way-banner {
        width: 35%;
        text-align: left;
        position: relative;
        top: 58px;
        left: 88px;
        color: #5E503F;
    }

    .on-the-way-banner h1 {
        font-size: 24px;
    }

    .on-the-way-banner p {
        font-size: 11px;
    }

    .on-the-way-items {
        width: 60%;
        padding-left: 10px;
    }

    .on-the-way-items-row-1 {
        display: flex;
        justify-content: space-between;
    }

    .on-the-way-items-row-2 {
        display: flex;
        justify-content: space-between;
    }

    .on-the-way-card {
        height: 190px;
        width: 190px;
    }

    .on-the-way-card img {
        height: 50px;
        margin-bottom: 20px;
    }

    .on-the-way-card p {
        font-size: 11px;
        font-weight: 500;
    }
}

/* ===================================== Show Top Deals ============================================ */
.deals-image {
    width: 200px;
    height: 170px;
    border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .deals-image {
        width: 130px;
        height: 110px;
    }
}

/* ================================== Become a Pro member ========================================= */
.pro-member {
    height: 525px;
    background-color: #FBF9F7;
}

.pro-member img {
    width: 1220px;
    height: 365px;
    position: relative;
    left: 150px;
    top: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .pro-member img {
        width: 650px;
        height: 250px;
        position: relative;
        left: 83px;
        top: 100px;
    }
}

@media (max-width: 768px) {
    .pro-member {
        display: flex;
        align-items: center;
        height: 424px;
    }

    .pro-member img {
        width: 100%;
        height: 75%;
        position: static;
    }
}



/* ================================= Testimonial ================================================= */
.testimonial {
    height: 1000px;
}

.testimonial h2 {
    color: #22333B;
    font-family: 'PT Serif';
}

.testimonial-container {
    position: relative;
    left: 175px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    width: 80%;
}

.testimonial-card {
    background-color: #EAE0D5;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 357px;
    height: 250px;
    text-align: left;
    padding: 20px;
}

.testimonial-card p {
    font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .testimonial-container {
        position: static;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 30px;
    }

    .testimonial-card {
        background-color: #EAE0D5;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        width: 220px;
        height: 250px;
        text-align: left;
        padding: 10px;
    }

    .testimonial-card p {
        font-size: 12px;
    }

    .testimonial-card h6 {
        font-size: 14px;
    }
}

/* ================================ Buying In Bulk =============================================== */
.buying-in-bulk {
    height: 403px;
    padding: 61px 104px;
}

.buying-in-bulk img {
    height: 277px;
    width: 1232px;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .buying-in-bulk img {
        height: 200px;
        width: 660px;
    }

    .buying-in-bulk {
        height: 403px;
        padding: 90px 84px;
    }

}

/* ================================= Sell on Frikly ================================================ */
.sell-on-frikly {
    height: 800px;
    background-color: #FBF9F7;
}

.sell-on-frikly img {
    height: 660px;
    width: 1232px;
    position: relative;
    left: 148px;
    top: 61px;
    border-radius: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
    .sell-on-frikly img {
        height: 400px;
        width: 667px;
        position: static;
        border-radius: 15px;
    }

    .sell-on-frikly {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 570px;
    }
}

@media (max-width: 768px) {
    .sell-on-frikly img {
        height: 620px;
        width: 667px;
        position: static;
        border-radius: 15px;
    }

    .sell-on-frikly {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 673px;
    }
}