.product-card-container {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    width: 270px;
    height: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card-main-image img {
    width: 252px;
    height: 277px;
}

.product-card-option-image {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    gap: 10px;
}

.product-card-option-image div {
    border: 1px solid gray;
    border-radius: 3px;
    height: 46px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.card-title {
    font-weight: 400;
    font-size: 17.6092px;
}

.card-pricing{
    width: 100%;
    margin-top: 5px;
}

.card-pricing p{
    margin: 0;
}

.mrp{
    margin: 0;
}

.card-current-price{
    font-size: 40px;
    color: #C6AC8F;
    font-weight: 500;
}

.card-free-delivery{
    font-size: 11px;
    color: #10A728;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .product-card-container {
        border: 2px solid gray;
        border-radius: 5px;
        padding: 5px;
        margin: 0px;
        width: 180px;
        height: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .product-card-main-image img {
        width: 165px;
        height: 160px;
    }
    
    .product-card-option-image {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-top: 5px;
        width: 100%;
        padding: 5px;
        gap: 10px;
    }
    
    .product-card-option-image div {
        border: 1px solid gray;
        border-radius: 3px;
        height: 46px;
        width: 50px;
        display: flex;
        justify-content: center;
    }
    
    .card-title {
        font-weight: 400;
        font-size: 12.6092px;
    }
    
    .card-pricing{
        width: 100%;
        margin-top: 5px;
    }
    
    .mrp{
        margin: 0;
        font-size: 11px;
    }

    .card-current-price{
        font-size: 30px;
    }

    .card-free-delivery{
        font-size: 9px;
    }

    
  }