.products-page {
    height: 1400px;
    text-align: left;
}

.products-page-heading {
    position: relative;
    left: 95px;
}

.products-page-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 125px;
    /* padding-right: 100px; */
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .products-page {
        height: 1800px;
        text-align: left;
    }

    .products-page-heading {
        position: relative;
        left: -29px;
    }

    .products-page-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 0px;
        padding-right: 0px;
        row-gap: 20px;
    }

    .cant-find-image {
        width: 180px;
        height: 390px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1235px) {
    .products-page {
        height: 2600px;
        text-align: left;
    }

    .products-page-heading {
        position: relative;
        left: 331px;
        display: inline-block;
    }

    .products-page-container {
        padding-left: 105px;
        padding-right: 0px;

    }
}