.sidebar{
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width:100vw;
    height: 200vh;
    transform: translateX(-100%);
    transition: all 0.4s;
}

.sidebar--open{
    transform: translateX(0%);
}

.sidebar-header{
    height: 142px;
    background-color: #22333B;
    margin-bottom: .5rem;
}

.sidebar-cheapest-quote{
    height: 77px;
    background-color: #EAE0D5;
}

.brand-cat ,.wishlist-cart, .login-seller{
    height: 140px;
    border-bottom: 1px solid rgb(235, 231, 231);
}

.about-support{
    height: 140px;
}

.sidebar-signin{
    width: 208px;
    height: 48px;
    font-size: 15px;
    font-weight: 500;
    background-color: #EAE0D5;
    margin-top: 1rem;
}

.cat-button{
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    text-align: left;
}

.image-space{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    /* background-color: gray; */
    margin-top: 12px;
}

.image-space img{
    height: 35px;
    width: 45px;
}

.option-topCategories{
    height: 280px;  
}

.option-topCategories > .row{
    height: 70px;
    margin-bottom: 2px;
}

.card-body{
    width: 100%;
    border: none;
}

.option-topCategories2 > .row{
    height: 70px;
}

.down-arrow{
    color: black;
    display: inline;
}

.plus-icon{
    display: inline;
    width: 38px;
    height: 30px;
}

  