.footer-container {
    height: 619px;
}

.footer-row-1 {
    height: 200px;
    background-color: #22333BE5;
    padding-top: 36px;
    padding-left: 60px;
}

.footer-row-2 {
    height: 366px;
    background-color: #22333B;
    padding-top: 45px;
}

.footer-row-3 {
    height: 53px;
    background-color: #22333B;
}

.footer-sm-icons{
    width: 24px;
    height: 24px;
}

.footer-page-links{
    font-size: 14px;
    font-weight: 400;
    color: #EAE0D5;
}

.footer-btm-text1{
    font-size: 16px;
    font-weight: 500;
    color: #EAE0D5;
}

.footer-btm-text2{
    font-size: 14px;
    font-weight: 500;
    color: #EAE0D5;
}

.footer-email-input{
    width: 289px;
    height: 51px;
    border: none;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px;
}

.footer-row-mobile-1{
    height: 490px;
    background-color: #22333BE5;
    padding-top: 44px;
}

.footer-row-mobile-2{
    height: 592px;
    background-color: #22333B;
    padding-top: 35px;
}

.footer-row-mobile-3{
    height: 100px;
    background-color: #22333B;
}

.footer-email-input-mobile{
    width: 226px;
    height: 51px;
    border: none;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px;
}
